body{background-image: url(sfondo.jpg);}

.contenitore{width: 800px;
margin: auto;}

header > img  {width: 250px;}

header > span {color: #fff;
font-size: 45px;}

.white{color: #fff;
font-size: 45px;}


/* numero cerchiato */
.white > span{background-color: #e89025;
border-radius: 50%;}

/* celle grigie */
.email-container > .email, .unread{background-color: #c4beb6;
border: 1px solid black;}

/* cella bianca */
.email-container > .read{background-color: #fff;
border: 1px solid black;}

/* frase finale centrata */

footer {text-align: center;
font-size: 25px;
font-style: italic;
font-weight:bold;
color: #fff;}

footer > span {font-size: 45px;
margin-right: 2px;}
